# Deployer private key (DO NOT commit real keys)
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# RPC
POLYGON_AMOY_RPC=https://rpc-amoy.polygon.technology
ETHERSCAN_API_KEY=

# Deployed contract address (filled after deploy)
CONTRACT_ADDRESS=
